.upit {
  display: none; /* da sakrijem sve upite */
}

.upit:first-child {
  display: block; /* da pokazem prvi upit */
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
} */

.carousel-buttons button {
  padding: 10px;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  background-color: #fdf1d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body h3 {
  margin-left: 20px;
}

iframe {
  border: none;
  width: 100%;
  height: 50px;
}

/* Stil za div #osnovno */
#osnovno {
  text-align: left;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#osnovno img {
  max-width: 100%;
  height: auto;
}

/* Stil za div #detalji */
#detalji {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#kolona1 {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
}

#kolona2 {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;
}

#opis {
  order: 3;
  flex: 0 1 100%;
  align-self: auto;
}

/* Stil za div #upiti */
#upiti {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

.upit {
  flex: 1 1 calc(50% - 60px);
  border: 1px solid #000;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
}

.carousel-buttons {
  display: none;
}

/* @media (max-width: 800px) {
  .upit {
    flex: 1 1 100%;
  }
} */

/* @media (max-width: 600px) { */
  #upiti {
    flex-direction: column;
  }

  .upit {
    display: none; /* da sakrijem sve upite */
  }

  .upit:first-child {
    display: block; /* da pokazem prvi upit */
  }

  .carousel-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .carousel-buttons button {
    padding: 10px;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
/* } */

/* Stil za upite */
.carousel .item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel .item p {
  margin: 5px 0;
}

/* Stil za zahtjeve */
#zahtjevi .item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#zahtjevi .item p {
  margin: 5px 0;
}

/* Stil za ponude */
#ponude .item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ponude .item p {
  margin: 5px 0;
}


.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 3s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}