body {
    background-color: #fdf1d3;
    margin: 1rem;
    padding: 1rem;
}

.upit-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upit-box p {
    margin: 5px 0;
}